services:
  mysqldb:
    image: mysql:lts
    container_name: mysql-db
    ports: 
      - "3308:3306"
    environment:
      - MYSQL_DATABASE=faculty
      - MYSQL_ROOT_PASSWORD=sha._.ima.3
    networks:
      - app-network
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","localhost"]
      retries: 5
      interval: 3s
      timeout: 30s
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: springboot-backend
    ports:
      - "8080:8080"
    depends_on:
      mysqldb:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqldb:3306/faculty
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=sha._.ima.3
    volumes:
      - maven-repo:/root/.m2
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: angular-frontend
    ports:
      - "4200:80"
    networks:
      - app-network
    depends_on:
      - backend
    restart: unless-stopped
    
volumes:
  maven-repo:
  mysql-data:

networks:
  app-network:
    driver: bridge
